node_modules
npm-debug.log
dist
.env
.env.*
.git
.gitignore
README.md
.eslintrc*
.prettierrc*
jest.config.*
coverage
.nyc_output
.DS_Store
*.log
*.pid
*.seed
*.pid.lock
.vscode
.idea
*.swp
*.swo
*~
.npmrc
kubernetes/