.logo-container {
  background-image: url('/shadow.svg');
  background-size: cover;
  background-position: 0 center;
  background-size: 20px 20px;
}

.logo-container:hover {
  background-image: url('/shadow-logo-hover.svg');
  background-size: 300px 20px;
  background-position: 0 center;
  animation: logo-slideshow 1.5s steps(15) infinite;
}

@keyframes logo-slideshow {
  0% { background-position: -7px center; }
  100% { background-position: -293px center; }
}